
.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 480px; 
  margin: 0 auto;
  background-color: #f9f9f9; 
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.app-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.nav-icon-button {
  background: none;
  border: none;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 1000; 
}

.nav-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease-in-out;
}


.nav-icon:hover {
  transform: scale(1.1); 
}
