.homepage-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; 
  }
  
  .homepage-logo,
  .homepage-name {
    cursor: pointer; 
    transition: transform 0.2s ease-in-out; 
  }
  
  .homepage-logo:hover,
  .homepage-name:hover {
    transform: scale(1.1); 
  }
  